@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.headline {
  position: relative;
  background: #FFFFFF;
  max-width: 300px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
}
.existingcontests {
  background: #FFFFFF;
  max-width: 500px;
  margin-top:20px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  float:left;
}
.createcontestForm{
  margin-top:20px;
  background: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.25);
  float:right;
}
.adminhomebody{
    background: #004d00;
    background: -webkit-linear-gradient(right, #26004d, #00b3b3);
    background: -moz-linear-gradient(right, #26004d, #00b3b3);
    background: -o-linear-gradient(right, #26004d, #00b3b3);
    background: linear-gradient(to left, #26004d, #00b3b3);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}
a:link{
    float:left;
    clear:left
}