[input type="radio"]{
}
#button{
    outline: 0;
    padding: 10px;
    width:8%;
    border:0;
    background:#000d1a;
    color:#ffffff;
    font-size:18px;
}
.TestTypeForm{
  font-size:22px;
  margin:auto;
}
TestTypeDiv{
  
}
.TestTypeBody{
  
}
a:link {
    font-size:18px;
    color:blue;
}

a:visited {
    color:#400080;
}

a:hover {
    color:#0292f9;
}
a:active {
    color: #FF0000;
}